/*
Navbar Stylesheet
*/
$navbar-height: 100px;
$navbar-font: 'NTR', sans-serif;

.navbar {
  min-height: $navbar-height;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  background-color: #FFF;

  & > .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-header {
    overflow: hidden;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;

    .navbar-brand {
      margin-left: 0;
      font-family: $navbar-font;
      padding: 0 15px;
      height: $navbar-height;
      line-height: $navbar-height;
      vertical-align: middle;
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      -webkit-transition: width 0.2s;
      transition: width 0.2s;

      .brand-logo {
        font-size: 1.5em;
        display: none;
      }

      .brand-title {
        display: block;
      }
    }
  }

  .navbar-collapse {
    ul.nav {
      & > li {
        height: $navbar-height;
        line-height: $navbar-height;
        & > a {
          min-width: $navbar-height;
          text-align: center;
          top: 50%;
          margin-top: -($navbar-height/4);
          height: $navbar-height/2;
          line-height: $navbar-height/2;
          border-radius: $navbar-height;
          font-family: $navbar-font;
          padding: 0 20px;
        }

        .dropdown-menu {
          font-size: 12px;
          padding: 0;
          border-radius: 1px;

          & > li.title {
            padding: 10px;
            font-family: $navbar-font;
          }
        }
      }

      & > li.profile {
        font-weight: 400;
        font-family: $navbar-font;

        & > a {
          display: inline-block;
        }

        & > a:after {
          font-family: 'FontAwesome';
          content: "\f107";
          display: inline-block;
          margin-left: 10px;
        }

        .dropdown-profile {
          padding: 0;
          border-radius: 1px;
          animation-name: dropdown-animate;
          -webkit-animation-name: dropdown-animate;
          -webkit-animation-duration: 0.2s;
          .profile-img {
            padding: 40px;
            text-align: center;
            img {
              width: 100px;
              height: auto;
              border-radius: 75px;
              border: 2px solid #FFF;
              padding: 0;
            }
          }
          .profile-info {
            text-align: center;
            margin-top: -36px;
            margin-bottom: 20px;
          }
          .profile-footer {
            text-align: center;
            padding: 15px;

            .btn {
              margin-bottom: 0;
            }
          }
        }


        .dropdown-profile::before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          margin-top: -10px;
          right: 40px;
        	width: 0;
        	height: 0;

        	border-left: 10px solid transparent;
        	border-right: 10px solid transparent;
          border-bottom-width: 10px;
          border-bottom-style: solid;
        }

      }
    }
  }
}

.app-container.app-sidebar-collapse {
  .app-header {
    .navbar.navbar-default {
      .navbar-header {
        .navbar-brand {;
          .brand-logo {
            display: block;
          }
          .brand-title {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .app-container {
    .app-header {
      .navbar.navbar-default {
        & > .container-fluid {
          padding-left: 15px;
          padding-right: 15px;
        }
        .navbar-header {
          .navbar-brand {
            width: auto;

            .brand-logo {
              display: none;
            }
            .brand-title {
              display: block;
            }
          }
          .navbar-toggle-container {
            float: none;
          }
        }
      }
    }
  }
}

@keyframes dropdown-animate {
    from {
      top: $navbar-height + 20px;
      opacity: 0;
    }
    to {
      top: $navbar-height;
      opacity: 1;
    }
}
