/*
Navbar Stylesheet
*/
$navbar-height: 70px;
$navbar-font: 'Oxygen', sans-serif;

$sizebar-width: 280px;
$sizebar-collapse-width: 70px;

.app-container {
  .app-header {
    position: fixed;
    width: 100%;
    z-index: 1006;
    .navbar.navbar-default {
      min-height: $navbar-height;
      margin-bottom: 0;
      border: 0;
      border-radius: 0;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
      box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);

      & > .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
      }
      .navbar-header {
        width: $sizebar-width;
        overflow: hidden;
        -webkit-transition: width 0.2s;
        transition: width 0.2s;

        .navbar-brand {
          margin-left: 0;
          font-family: $navbar-font;
          padding: 0 15px;
          width: 100%;
          height: $navbar-height;
          line-height: $navbar-height;
          vertical-align: middle;
          text-align: center;
          font-size: 1.25em;
          text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
          font-weight: 400;

          .brand-logo {
            font-size: 1.5em;
            display: none;
          }

          .brand-title {
            display: block;
          }
        }
      }

      .navbar-collapse {
        ul.nav:not(.navbar-right) {
          & > li {
            height: $navbar-height;
            line-height: $navbar-height;
            vertical-align: middle;

            .btn-search {
              border: 0px;
              padding: 0 20px;

              font-size: 15px;
            }

            .btn-toggle-sidebar {
              border: 0px;
              padding: 0 20px;
              font-size: 15px;
            }

            ol.breadcrumb {
              border-radius: 0;
              padding: 0 20px;
              margin-bottom: 0;

              & > li {
                font-size: 1em;
                font-weight: 600;
                font-family: $navbar-font;
                float: left;
                & > a {
                  text-decoration: none;
                  font-family: $navbar-font;
                  font-weight: 600;
                }
              }
              & > li+li:before {
                font-family: 'FontAwesome';
                content: "\f105";
                padding: 0 13px 0 8px;
                font-size: 15px;
                height: $navbar-height;
                line-height: $navbar-height;
                position: relative;
                float: left;
              }
            }
            ol.breadcrumb::after {
              content: '';
              clear: both;
              display: block;
            }
          }
        }
        ul.nav.navbar-right {
          & > li {
            a {
              font-family: $navbar-font;
              height: $navbar-height;
              line-height: $navbar-height;
              padding: 0 20px;
            }
          }

          & > li.profile {
            font-weight: 600;
            font-family: $navbar-font;

            a {
              display: inline-block;
            }

            a:after {
              font-family: 'FontAwesome';
              content: "\f107";
              display: inline-block;
              margin-left: 10px;
            }

            .dropdown-profile {
              padding: 0;
              border-radius: 1px;
              width: $sizebar-width;
              animation-name: dropdown-animate;
              -webkit-animation-name: dropdown-animate;
              -webkit-animation-duration: 0.2s;
              .profile-img {
                padding: 20px;
                text-align: center;
                img {
                  width: 150px;
                  height: auto;
                  border-radius: 75px;
                }
              }
            }


            .dropdown-profile::before {
              content: '';
              position: absolute;
              display: block;
              top: 0;
              margin-top: -10px;
              right: 40px;
            	width: 0;
            	height: 0;

            	border-left: 10px solid transparent;
            	border-right: 10px solid transparent;
              border-bottom-width: 10px;
              border-bottom-style: solid;
            }
          }
        }
      }
    }
  }
}

@keyframes dropdown-animate {
    from {
      top: $navbar-height + 20px;
      opacity: 0;
    }
    to {
      top: $navbar-height;
      opacity: 1;
    }
}
