/*
Navbar Stylesheet
*/
$navbar-height: 100px;
$navbar-affix-height: 60px;
$navbar-font: 'NTR', sans-serif;

.nav {
  & > li {
    position: static !important;
  }
}
.dropdown {
  position: static !important;
}

.dropdown:not(.mega-dropdown):not(.submenu):not(.mega-submenu) {
  position: relative !important;
}

.navbar {
  height: $navbar-height;
  min-height: $navbar-height;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  background-color: #FFF;

  & > .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-header {
    overflow: hidden;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;

    .navbar-brand {
      margin-left: 0;
      font-family: $navbar-font;
      padding: 0 15px;
      height: $navbar-height;
      line-height: $navbar-height;
      vertical-align: middle;
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      -webkit-transition: width 0.2s;
      transition: width 0.2s;

      .brand-logo {
        font-size: 1.5em;
        display: none;
      }

      .brand-title {
        display: block;
      }
    }
  }

  .navbar-collapse {
    position: relative;
    ul.nav {
      & > li {
        height: $navbar-height;
        line-height: $navbar-height;
        & > a {
          min-width: $navbar-height;
          text-align: center;
          top: 50%;
          margin-top: -($navbar-height/4);
          height: $navbar-height/2;
          line-height: $navbar-height/2;
          border-radius: $navbar-height;
          font-family: $navbar-font;
          padding: 0 20px;
        }

        .dropdown-menu {
          padding: 0;
          border-radius: 0px;
          border: 0;
          margin-top: 0px;
          border-top: 1px solid #EEE;

          & > li {
            border-bottom: 1px solid #F9F9F9;
            & > a {
              padding: 10px 20px;
            }
          }

          .divider {
            border-top: 2px solid #AAA;
            margin: 0;
          }
        }
      }
    }
  }
}

.navbar.affix {
  height: $navbar-affix-height;
  min-height: $navbar-affix-height;
  .navbar-header {
    .navbar-brand {
      height: $navbar-affix-height;
      line-height: $navbar-affix-height;
    }
  }

  .navbar-collapse {
    ul.nav {
      & > li {
        height: $navbar-affix-height;
        line-height: $navbar-affix-height;
        & > a {
          min-width: $navbar-affix-height;
        }
      }
    }
  }
}

.navbar-inverse {
  background-color: #222;
}