.dataTables_wrapper {
  border-radius: 2px;
  overflow: hidden;
  .top {
    padding-left: 100px;
    position: relative;
    border-bottom: 1px solid #DDD;
    background-color: #EEE;
    .dataTables_filter {
      width: 100%;
      position: relative;

      label {
        width: 100%;
        display: block;
        font-weight: normal;
        margin-bottom: 0;
      }
      .form-control {
        border: 0px;
        width: 100%;
        margin-left: 0;
        background-color: transparent;
      }
    }
    .dataTables_length {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      border-right: 1px solid #DDD;

      label {
        width: 100px;
        display: block;
        font-weight: normal;
        margin-bottom: 0;
      }

      .select2  {
        width: 100px !important;

        span.select2-selection {
          height: 48px;
          border-radius: 0;
          border: 0;
          background-color: transparent;
        }

        .select2-selection__rendered {
          color: #888;
          line-height: 48px;
          padding-left: 15px;
        }

        .select2-selection__arrow {
          height: 46px;
          right: 5px;
        }

      }
    }
  }

  .top::after ,.bottom::after{
    content: '';
    position: relative;
    clear: both;
    display: block;
  }

  .bottom {
    border-top: 2px solid #DDD;
    padding: 12px 15px;
    font-size: 14px;
    .dataTables_info {
      float: left;
    }
    .dataTables_paginate {
      float: right;

      .pagination {
        display: block;
      }
    }
  }

  table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    & > thead {
      & >tr {
        & > th {
          background-color: #EEE;
        }
      }
    }
  }
}

.dataTables_wrapper.primary {
  .top {
    border-bottom: 1px solid #043D5D;
    background-color: #095077;
    .dataTables_filter {
      .form-control {
        color: #FFF;
      }
      .form-control::-webkit-input-placeholder {
        color: #FFF;
      }
    }

    .dataTables_length {
      border-right: 1px solid #043D5D;

      .select2  {
        .select2-selection__rendered {
          color: #FFF;
        }
      }
    }
  }

  table.dataTable {
    & > thead {
      & >tr {
        & > th {
          background-color: #095077;
          color: #FFF;
          border-bottom: 2px solid #043D5D;
        }
      }
    }
  }

  table.table-striped {
    & > tbody {
      & > tr:nth-of-type(odd) {
        background-color: #fbfeff;
      }
    }
  }
}


.dataTables_wrapper.success {
  .top {
    border-bottom: 1px solid #18aa4a;
    background-color: #29c75f;
    .dataTables_filter {
      .form-control {
        color: #FFF;
      }
      .form-control::-webkit-input-placeholder {
        color: #FFF;
      }
    }

    .dataTables_length {
      border-right: 1px solid #18aa4a;

      .select2  {
        .select2-selection__rendered {
          color: #FFF;
        }
      }
    }
  }

  .bottom {
    .pagination {
      & > li.active {
        & > a , & > span {
          border-bottom: 2px solid #18aa4a;
          background-color: #29c75f;
        }
      }
    }
  }

  table.dataTable {
    & > thead {
      & >tr {
        & > th {
          background-color: #29c75f;
          color: #FFF;
          border-bottom: 2px solid #18aa4a;
        }
      }
    }
  }

  table.table-striped {
    & > tbody {
      & > tr:nth-of-type(odd) {
        background-color: #f8fffa;
      }
    }
  }
}
