$white: #FFF;

.navbar {
  .navbar-collapse {
    ul.nav {
      & > li {
        & > a {
          background-color: transparent;
        }
      }
    }
  }
}

.navbar.navbar-default {
	background-color: $white;

  .navbar-collapse {
    ul.nav {
      & > li {
        & > a {
        	background-color: $white;
        }
      }
    }
  }
}

.bg-white {
  background-color: #F9F9F9;
}