$color-white: #FFF;
$color-white-smoke: #F9F9F9;
$color-white-grey: #EEE;
$color-green: #36B846;
$color-green-dark: #18a328;
$color-yellow: #FEC606;
$color-orange: #E75926;
$color-blue: #2C82C9;
$color-near-black: #333333;
$color-black: #212121;

.flatio-green {
  background-color: $color-white-grey;
  .app-container {
    background-color: $color-white-grey;
    .app-header {
      .navbar.navbar-default {
        background-color: $color-white;
          .navbar-header {
            background-color: $color-green;
            .navbar-brand {
              color: $color-white;
            }
          }

          .navbar-collapse {
            ul.nav {
              & > li {
                .btn-search , .btn-toggle-sidebar, ol.breadcrumb {
                  background-color: $color-white;
                }
                ol.breadcrumb {
                  & > li {
                    color: $color-black;
                    font-weight: bold;
                    & > a {
                      color: $color-black;
                    }
                  }
                  & > li+li:before {
                    color: $color-black;
                  }
                  & > li.active {
                    color: $color-green-dark;
                  }
                }
              }
              & > li.br {
                border-right: 1px solid $color-white-smoke;
              }
              & > li.bl {
                border-left: 1px solid $color-white-smoke;
              }
            }
          }
      }
    }

    .app-sidebar {
      background-color: $color-black;
      -webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.1);
      box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.1);

      ul.sidebar-menu {
        & > li {
          & > a {
            border-left: 2px solid transparent;
            color: $color-white;
          }

          & > a:hover {
            color: $color-green;
          }

          ul.sidebar-sub-menu {
            background-color: rgba(255,255,255,0.05);

            & > li {
              & > a {
                  color: $color-white;
              }

              & > a:hover {
                color: $color-green;
              }
            }
          }
        }

        & > li.active {
          & > a {
            border-left: 2px solid $color-green;
            color: $color-green;
          }
        }
      }
    }
  }

  .app-container.app-sidebar-collapse {
    .app-sidebar {
      ul.sidebar-menu {
        & > li {
          & > a {
          }

          ul.sidebar-sub-menu {
            background-color: $color-white;
            -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
            box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
            & > li {
              border-bottom: 1px solid $color-white-smoke;
              & > a {
                color: $color-black;
              }
              & > a:hover {
                color: $color-green;
              }
            }
          }
          ul.sidebar-sub-menu::before {
          	border-right-color: $color-white;
          }
        }

        & > li.active {
          background-color: rgba(0,0,0,0.3);
        }

      }
    }
  }

  // Card Summary
  .card.card-summary {
    background-color: $color-white;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  }

  .card.card-summary.card-green {
    background-color: $color-green;
    color: $color-white;
  }
  .card.card-summary.card-yellow {
    background-color: $color-yellow;
    color: $color-white;
  }
  .card.card-summary.card-orange {
    background-color: $color-orange;
    color: $color-white;
  }
  .card.card-summary.card-red {
    background-color: $color-yellow;
    color: $color-white;
  }
  .card.card-summary.card-blue {
    background-color: $color-blue;
    color: $color-white;
  }
  .card.card-summary.card-success.card-light {
    background-color: $color-white;
    color: $color-green;
  }
}
