$font: 'Roboto', sans-serif;

.card {
  width: 100%;
  border-radius: 2px;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 50px;

  .card-header {
    padding: 15px 30px;
    border-bottom: 2px solid #F9F9F9;
    font-size: 1.2em;

    .card-action {
      right: 0;
      top: 0;
      position: absolute;

      .btn {
        color: #555;
      }
    }
  }
  .card-body {
    padding: 30px;
  }
  .card-footer {
    padding: 15px 30px;
    border-top: 2px solid #F9F9F9;
  }
}
