.progress {
  border-radius: 2px;
}

.progress-bar-success {
  background-color: #29c75f;
}

.progress-bar-info {
  background-color: #39c3da;
}

.progress-bar-warning {
  background-color: #FFC153;
}

.progress-bar-danger {
  background-color: #E74C3C;
}