body.navbar-collapse-open {
  overflow: auto;
}

@media (max-width: 767px) {
  body.navbar-collapse-open {
    overflow: hidden;
  }
}
.row.no-gap {
  margin-left: 0;
  margin-right: 0;
  & > [class*="col-"] {
    padding-left:0;
    padding-right: 0px;
  }
}

.container-lg {

}

.no-margin {
  margin: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-padding {
  padding: 0px !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-border-left {
  border-left: 0 !important;
}

.no-border-right {
  border-right: 0 !important;
}

.no-border-top {
  border-top: 0 !important;
}

.no-border-bottom {
  border-bottom: 0 !important;
}
input:focus, textarea:focus {
    outline: none;
}

a {
  color: #095077;
  text-decoration: none;
}
a:hover {
  color: #043D5D;
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}


@media (max-width: 480px) {
  .text-xs-center {
    text-align: center;
  }

  .text-xs-right {
    text-align: right;
  }
}