@import url(https://fonts.googleapis.com/css?family=NTR);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #F9F9F9;
  font-family: 'NTR', sans-serif;
  padding-top: 100px;
  font-size: 18px;
  color: #555;
  
}

.bg1 {
  background-image:url('../images/bg/HNCK4161.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.bg2 {
  background-color: #FFF;
  
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.jumbotron {
  margin-bottom: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.color-white {
  color: #FFF !important;
}


.ui-title {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.full-width-bg {
  & > .bg-block {
    content: '';
    z-index: 100;
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
  }

  & > *:not(.bg-block) {
    z-index: 200;
    position: relative;
  }
}