@import url(https://fonts.googleapis.com/css?family=NTR);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,300);

body {
  background-color: #F9F9F9;
  font-family: 'NTR', sans-serif;
  font-size: 17px;
  color: #555;
  
}

.app-container {
  padding-top: 100px;
}

.bg1 {
  background-image:url('../images/bg/picjumbo.com_HNCK9329.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.bg2 {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.bg3 {
  background-image:url('../images/bg/picjumbo.com_HNCK7802.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  position: relative;

}
.bg-overlay-white,  .bg-overlay-black, .bg-overlay-black-light  {
  position: relative;

  * {
    z-index: 1007;
    position: relative;
  }
}
.bg-overlay-white::after,  .bg-overlay-black::after, .bg-overlay-black-light::after  {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1006;

}
.bg-overlay-white::after {
  background-color: rgba(255,255,255,0.8);
}

.bg-overlay-black::after {
  background-color: rgba(0,0,0,0.8);
}


.bg-overlay-black-light::after {
  background-color: rgba(0,0,0,0.4);
}

.jumbotron {
  margin-bottom: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.color-white {
  color: #FFF !important;
}

.ui-title {
  margin-top: 2em;
  margin-bottom: 1.5em;
}
h1.ui-title {
  font-size: 3em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.full-width-bg {
  & > .bg-block {
    content: '';
    z-index: 100;
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
  }

  & > *:not(.bg-block) {
    z-index: 200;
    position: relative;
  }
}