/*
Navbar Stylesheet
*/
$navbar-height: 100px;
$navbar-affix-height: 70px;
$navbar-font: 'NTR', sans-serif;
$color-profile: #29c75f;

.nav {
  & > li {
    position: static !important;
  }
}
.dropdown {
  position: static !important;
}

.dropdown:not(.mega-dropdown):not(.submenu):not(.mega-submenu) {
  position: relative !important;
}

.navbar {
  min-height: $navbar-height;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  background-color: #FFF;

  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  & > .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-header {
    overflow: hidden;
    position: relative;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    z-index: 1007;
    background-color: transparent;

    .navbar-brand {
      margin-left: 0;
      padding: 0 15px;
      padding-left: 0px;
      height: $navbar-height;
      line-height: $navbar-height;
      vertical-align: middle;
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;

      i.icon {
        font-size: 2em;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: middle;
      }
    }

    .navbar-toggle {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: $navbar-height;
      border-radius: 0;
      border: 0;
      background-color: transparent;
      padding: 20px;

      .icon-bar {
        height: 2px;
        border-radius: 2px;
        width: 24px;
        transform-origin: 50% 50%; 
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
      }

      .icon-bar+.icon-bar {
        margin-top: -2px;
        transform-origin: 50% 50%; 
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
      }

      .icon-bar:last-child {
        display: none;
      }
    }

    .navbar-toggle:not(.collapsed) {
      .icon-bar {
        -webkit-transform: rotate(-45deg); 
        -moz-transform: rotate(-45deg); 
        -webkit-animation: spin-in-left-45 0.25s 1; /* Safari 4+ */
      }
      .icon-bar+.icon-bar {
        -webkit-transform: rotate(45deg); 
        -moz-transform: rotate(45deg); 
        -webkit-animation: spin-in-right-45 0.25s 1; /* Safari 4+ */
      }
    }

    .navbar-toggle.collapsed {
      .icon-bar {
        height: 2px;
        border-radius: 2px;
        width: 24px;
        -webkit-transform: rotate(0deg); 
        -moz-transform: rotate(0deg);  
        -webkit-animation: spin-out-left-45 0.25s 1; 
      }

      .icon-bar+.icon-bar {
        margin-top: 5px;
        -webkit-transform: rotate(0deg); 
        -moz-transform: rotate(0deg);  
        -webkit-animation: spin-out-right-45 0.25s 1; 
      }

      .icon-bar:last-child {
        display: block;
        -webkit-animation: none;

      }
    }
  }

  .navbar-collapse {
    position: relative;
    ul.nav {
      & > li {
        & > a {
          min-width: $navbar-height;
          text-align: center;
          height: $navbar-height;
          line-height: $navbar-height;
          border-radius: 0;
          padding: 0 20px;
          background-color: transparent;

          
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
        }

        & > a:hover {
          background-color: transparent;
          
        }

        .dropdown-menu {
          padding: 0;
          border-radius: 0px;
          border: 0;
          margin-top: 0px;
          border-top: 1px solid #EEE;

          animation-name: dropdown-animate;
          -webkit-animation-name: dropdown-animate;
          -webkit-animation-duration: 0.2s;

          & > li {
            border-bottom: 1px solid #F9F9F9;
            & > a {
              padding: 10px 20px;
            }
          }

          .divider {
            border-top: 2px solid #AAA;
            margin: 0;
          }
        }
      }

      & > li.open {
        & > a {
          background-color: transparent;
        }
      }

      & > li.profile {

        .dropdown-profile {
          border-top: 0;
          line-height: 1em;
          padding: 0;
          border-radius: 0px;
          border-bottom-right-radius: 2px;
          border-bottom-left-radius: 2px;
          width: 250px;
          animation-name: dropdown-animate;
          -webkit-animation-name: dropdown-animate;
          -webkit-animation-duration: 0.2s;
          .profile-img {
            background: $color-profile;
            background: -moz-linear-gradient(top, $color-profile 0%, $color-profile 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, $color-profile), color-stop(50%, $color-profile), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top, $color-profile 0%, $color-profile 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(top, $color-profile 0%, $color-profile 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top, $color-profile 0%, $color-profile 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom, $color-profile 0%, $color-profile 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );

            padding: 40px;
            text-align: center;
            img {
              width: 100px;
              height: auto;
              border-radius: 75px;
              border: 2px solid #FFF;
              padding: 0;
            }
          }
          .profile-info {
            text-align: center;
            margin-top: -36px;
            margin-bottom: 20px;
          }
          .profile-footer {
            text-align: center;
            padding: 15px;

            .btn {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}


.navbar.affix {
  height: $navbar-affix-height;
  min-height: $navbar-affix-height;
  .navbar-header {
    .navbar-brand {
      height: $navbar-affix-height;
      line-height: $navbar-affix-height;
    }

    .navbar-toggle {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: $navbar-affix-height;
      border-radius: 0;
      border: 0;
      background-color: #FFF;
      padding: 20px;
    }
  }

  .navbar-collapse {
    ul.nav {
      & > li {
        & > a {
          height: $navbar-affix-height;
          line-height: $navbar-affix-height;
        }
      }
    }
  }
}

.navbar-inverse {
  background-color: #222;
}


.navbar.navbar-default {
  background-color: #FFF;
}

.navbar.navbar-transparent {
  background-color: transparent;
  box-shadow: none;

  .navbar-header {
    .navbar-brand {
      color: #FFF;
    }

    .navbar-toggle {
      .icon-bar {
        background-color: #FFF;
      }
    }
  }

  .navbar-collapse {
    position: relative;
    ul.nav {
      & > li {
        & > a {
          color: #FFF;
        }
      }
    }
  }
}

.navbar.affix.navbar-transparent {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);

  .navbar-header {
    .navbar-brand {
      color: #333;
    }
  }

  .navbar-collapse {
    position: relative;
    ul.nav {
      & > li {
        & > a {
          color: #333;
        }
      }
    }
  }
}

.navbar.navbar-transparent.navbar-inverse {
}

// Mobile
@media (max-width: 767px) {

  .navbar {
    .navbar-collapse {
    }
  }
  .navbar.navbar-fixed-top {

    height: $navbar-affix-height;
    min-height: $navbar-affix-height;

    .navbar-header {
      background-color: #FFF;
      .navbar-brand {
        padding-left: 25px;
        height: $navbar-affix-height;
        line-height: $navbar-affix-height;
      }

      .navbar-toggle {
        height: $navbar-affix-height;
        margin-right: 10px;
      }
    }
    .navbar-nav {
      margin: 0 -15px;
    }
    .navbar-collapse {
      overflow: scroll;
      position: fixed;
      visibility: hidden;
      -webkit-transform: translateZ(0);
      top: 0;
      z-index: 1005;
      width: 100%;
      min-height: 100%;
      background-color: #FFF;
      margin-top: 70px;


      -webkit-transition: height 0.01s;
      -moz-transition: height 0.01s;
      -ms-transition: height 0.01s;
      -o-transition: height 0.01s;
      transition: height 0.01s;

      ul.nav {
        & > li {
          & > a {
            padding: 0 25px;
            position: relative;
            text-align: left;
            height: $navbar-affix-height;
            line-height: $navbar-affix-height;
            border-bottom: 1px solid #F9F9F9;

            .caret {
              position: absolute;
              top: 50%;
              right: 30px;
              margin-top: -2px;
              color: #666;
            }
          }

          .dropdown-menu {
            border-top: 0;
            border-bottom: 1px solid #F9F9F9;
            background-color: #F9F9F9;

            & > li {
              & > a {
                padding: 20px 20px;
              }
            }
          }
        }
      }
    }

    .navbar-collapse.in {
      visibility: visible;
      -webkit-animation: navbarIn 0.25s 1; /* Safari 4+ */
      -moz-animation:    navbarIn 0.25s 1; /* Fx 5+ */
      -o-animation:      navbarIn 0.25s 1; /* Opera 12+ */
      animation:         navbarIn 0.25s 1;

    }
  }

  .navbar.navbar-fixed-top.affix {
    .navbar-collapse {
      margin-top: 70px;
    }
  }


  .navbar.navbar-transparent {
    .navbar-header {
      background-color: transparent;


      .navbar-toggle {
        .icon-bar {
          background-color: #FFF;
        }
      }
    }

    .navbar-collapse {
      position: fixed;

      ul.nav {
        & > li {
          & > a {
            color: #333;
          }
        }
      }
    }
  }
  .navbar.affix.navbar-transparent {
    .navbar-header {
      background-color: #FFF;

      .navbar-toggle {
        .icon-bar {
          background-color: #555;
        }
      }
    }

    .navbar-collapse {
      position: fixed;
    }
  }
}

@keyframes navbarOut {

  from {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes navbarIn {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
  }

  to {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes spin-in-left-45 { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(-45deg); 
  }
}

@keyframes spin-in-right-45 { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(45deg); 
  }
}


@keyframes spin-out-left-45 { 
  from { 
      transform: rotate(-45deg); 
  } to { 
      transform: rotate(0deg); 
  }
}

@keyframes spin-out-right-45 { 
  from { 
      transform: rotate(45deg); 
  } to { 
      transform: rotate(0deg); 
  }
}


@keyframes dropdown-animate {
    from {
      margin-top: 20px;
      opacity: 0;
    }
    to {
      margin-top: 0px;
      opacity: 1;
    }
}