input.form-control, textarea.form-control {
  border-radius: 2px;
  padding: 5px 15px;
  height: auto;
  font-size: 1em;
  border: 2px solid #DDD;
  box-shadow: none;
}

input::-webkit-input-placeholder { line-height: normal; }

.form-horizontal {
  .control-label {
    text-align: left;
  }
}